<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <li>
        <a href="{% url 'create_receipt' %}">create receipt</a>
        <a href="{% url 'create_account' %}">create account</a>
        <a href="{% url 'category_list' %}">category list</a>
        <a href="{% url 'account_list' %}">account list</a>
        <a href="{% url 'home' %}">home</a>
      </li>
    </nav>
  </header>
    <main>
        <div>
          <h1>Create Category</h1>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
        </div>
      </main>
    
</body>
</html>
