{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <a href="{% url 'create_category' %}">create category</a>
        <a href="{% url 'create_account' %}">create account</a>
        <a href="{% url 'create_receipt' %}">create receipt</a>
        <a href="{% url 'account_list' %}">acount list</a>
        <a href="{% url 'home' %}">home</a>
    <main>
        <h1>My Categories</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for category in categories %}
              <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.receipts.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    
</body>
</html>
