{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <li>
        <a href="{% url 'create_category' %}">create category</a>
        <a href="{% url 'create_account' %}">create account</a>
        <a href="{% url 'category_list' %}">category list</a>
        <a href="{% url 'create_receipt' %}">create recipe</a>
        <a href="{% url 'home' %}">home</a>
      </li>
    </nav>
  </header>
    <main>
        <h1>My Accounts</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    
</body>
</html>
