{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    <nav>
      <li>
        <a href="{% url 'create_category' %}">create category</a>
        <a href="{% url 'create_account' %}">create account</a>
        <a href="{% url 'category_list' %}">category list</a>
        <a href="{% url 'account_list' %}">account list</a>
        <a href="{% url 'create_receipt' %}">create receipt</a>
      </li>
    </nav>
  </header>
    <main>
        <h1>My Receipts</h1>
        <table>
          <thead>
            <tr>
              <th>Vendor</th>
              <th>Total</th>
              <th>Tax</th>
              <th>Date</th>
              <th>Category</th>
              <th>Account</th>
            </tr>
          </thead>
          <tbody>
            {% for receipt in receipts %}
              <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date|date:"m/d/y" }}</td>
                <td>{{ receipt.category.name }}</td>
                <td>{{ receipt.account.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
    
</body>
</html>
